.cache/
.Trash/
.nix-profile
.zsh_sessions
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Projects/
.CFUserTextEncoding
.zsh_history
.nix-defexpr/
.vscode/extensions/
.vscode/argv.json
.DS_Store
result
Applications
.vscode-oss/argv.json
.vscode-oss/extensions/
.local/share/fish/
.local/share/direnv/
.npm/
.config/configstore/
.config/fish/config.fish
.config/fish/fish_variables
.ssh/
.yarnrc
.local/share/nix/repl-history
